<!DOCTYPE html>
<html ng-app="StockLookup">
<head>
	<meta charset="UTF-8">
	<title>Look Up Any Stock Quotes</title>
	<link rel="stylesheet" type="text/css" href="./styles.css" />
</head>
<body>
	<h1>STOCK QUOTES LOOK UP!</h1>
	<script src="./node_modules/angular/angular.js"></script>
	<script src="./services.js"></script>

	<div id='searchQuote' ng-controller='LookupCtrl'>
		<form name="stockquoteForm" ng-submit='lookup()'>
			<input type='text' ng-model='search' placeholder='Type Stock Quote Here!'>
			<button>Search</button>
		</form>
		<br>
	<div class='stockTable'>
		<table>
			<tr>
				<th>Id</th>
				<th>Symbol</th>
				<th>Ask</th>
				<th>AverageDailyVolume</th>
				<th>Bid</th>
				<th>AskRealtime</th>
				<th>BidRealtime</th>
				<th>BookValue</th>
				<th>Change_PercentChange</th>
				<th>Change</th>
				<th>Commission</th>
				<th>Currency</th>
				<th>ChangeRealtime</th>
				<th>Ask</th>
				<th>Ask</th>
			</tr>
			<tr ng-repeat="keys in Stock">
				<td>{{Stock.Id}}</td>
				<td>{{Stock.Symbol}}</td>
				<td>{{Stock.Ask}}</td>
				<td>{{Stock.AverageDailyVolume}}</td>
				<td>{{Stock.Bid}}</td>
				<td>{{Stock.AskRealtime}}</td>
				<td>{{Stock.BidRealtime}}</td>
				<td>{{Stock.BookValue}}</td>
				<td>{{Stock.Change_PercentChange}}</td>
				<td>{{Stock.Change}}</td>
				<td>{{Stock.Commission}}</td>
				<td>{{Stock.Currency}}</td>
				<td>{{Stock.AverHoursChangeRealtime}}</td>
				<td>{{Stock.DividendShare}}</td>
				<td>{{Stock.LastTradeDate}}</td>
				<td>{{Stock.TradeDate}}</td>
				<td>{{Stock.EarningsShare}}</td>
				<td>{{Stock.ErrorIndicationreturnedforsymbolchangedinvalid}}</td>
				<td>{{Stock.EPSEstimateCurrentYear}}</td>
				<td>{{Stock.EPSEstimateNextYear}}</td>
				<td>{{Stock.EPSEstimateNextQuarter}}</td>
				<td>{{Stock.DaysLow}}</td>
				<td>{{Stock.DaysHigh}}</td>
				<td>{{Stock.YearLow}}</td>
				<td>{{Stock.YearHigh}}</td>
				<td>{{Stock.HoldingsGainPercent}}</td>
				<td>{{Stock.AnnualizedGain}}</td>
				<td>{{Stock.HoldingsGain}}</td>
				<td>{{Stock.HoldingsGainPercentRealtime}}</td>
				<td>{{Stock.HoldingsGainRealtime}}</td>
				<td>{{Stock.MoreInfo}}</td>
				<td>{{Stock.OrderBookRealtime}}</td>
				<td>{{Stock.MoreInfo}}</td>
				<td>{{Stock.OrderBookRealtime}}</td>
				<td>{{Stock.MarketCapitailization}}</td>
				<td>{{Stock.MarketCapRealtime}}</td>
				<td>{{Stock.EBITDA}}</td>
				<td>{{Stock.ChangeFromYearLow}}</td>
				<td>{{Stock.PercentChangeFromYearLow}}</td>


			</tr>
		</table>
<!--
				"DaysLow": "117.52",
				"DaysHigh": "122.57",
				"YearLow": "93.28",
				"YearHigh": "134.54",
				"HoldingsGainPercent": null,
				"AnnualizedGain": null,
				"HoldingsGain": null,
				"HoldingsGainPercentRealtime": null,
				"HoldingsGainRealtime": null,
				"MoreInfo": null,
				"OrderBookRealtime": null,
				"MarketCapitalization": "675.43B",
				"MarketCapRealtime": null,
				"EBITDA": "77.88B",
				"ChangeFromYearLow": "25.16",
				"PercentChangeFromYearLow": "+26.97%",
				"LastTradeRealtimeWithTime": null,
				"ChangePercentRealtime": null,
				"ChangeFromYearHigh": "-16.10",
				"PercebtChangeFromYearHigh": "-11.97%",
				"LastTradeWithTime": "4:00pm - <b>118.44</b>",
				"LastTradePriceOnly": "118.44",
				"HighLimit": null,
				"LowLimit": null,
				"DaysRange": "117.52 - 122.57",
				"DaysRangeRealtime": null,
				"FiftydayMovingAverage": "125.69",
				"TwoHundreddayMovingAverage": "125.65",
				"ChangeFromTwoHundreddayMovingAverage": "-7.21",
				"PercentChangeFromTwoHundreddayMovingAverage": "-5.74%",
				"ChangeFromFiftydayMovingAverage": "-7.25",
				"PercentChangeFromFiftydayMovingAverage": "-5.77%",
				"Name": "Apple Inc.",
				"Notes": null,
				"Open": "121.50",
				"PreviousClose": "121.30",
				"PricePaid": null,
				"ChangeinPercent": "-2.36%",
				"PriceSales": "3.08",
				"PriceBook": "5.51",
				"ExDividendDate": "5/7/2015",
				"PERatio": "13.70",
				"DividendPayDate": "8/13/2015",
				"PERatioRealtime": null,
				"PEGRatio": "0.90",
				"PriceEPSEstimateCurrentYear": "12.99",
				"PriceEPSEstimateNextYear": "12.12",
				"Symbol": "AAPL",
				"SharesOwned": null,
				"ShortRatio": "1.50",
				"LastTradeTime": "4:00pm",
				"TickerTrend": null,
				"OneyrTargetPrice": "147.72",
				"Volume": "69975968",
				"HoldingsValue": null,
				"HoldingsValueRealtime": null,
				"YearRange": "93.28 - 134.54",
				"DaysValueChange": null,
				"DaysValueChangeRealtime": null,
				"StockExchange": "NMS",
				"DividendYield": "1.70",
				"PercentChange": "-2.36%"
-->
		
		</div>
	</div>

	<script src="./app.js"></script>


</body>
</html>

<!-- Yahoo webservice: http://finance.yahoo.com/webservice/v1/symbols/allcurrencies/quote?format=json -->
<!-- 'http://query.yahooapis.com/v1/public/yql?q=select * from yahoo.finance.quotes where symbol in ("AAPL")&format=json' -->


