body {
	background-color: #F5F5DC;
	font-family: arial;
} 

.img-rounded {
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 1440px;
}

h1 {
	position: float;
	color: green;
}

.searchBar {
	width: 30%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
}

th, td {
    padding: 10px;
}

th {
	background-color: green;
	color: white;
}

tr {
	background-color: #CCFFCC;
}